// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/purple';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

.fa {
    font-family: 'FontAwesome', 'fontawesome-webfont';
}

.ion {
    font-family: 'ionicons';
}

.ico {
    font-family: 'icomoon';
}

// BADGE UNTUK TABVIE
// hanya bisa dipasang css di global
.badge {
    width: 30;
    height: 30;
    border-color: #FF3366;
    border-width: 1;
    border-radius: 15;
    background-color: #FF3366;
}

.badge-text {
    font-size: 12;
    font-weight: bold;
    color: white;
    vertical-align: center;
    horizontal-align: center;
}



.transition-enter-active {
    animation-name: transition;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

// .transition-leave-active {
//     animation-name: transition;
//     animation-duration: 0.25s;
//     animation-fill-mode: forwards;
//     animation-direction: reverse;
//     animation-timing-function: ease-in-out;
// }

@keyframes transition {
    0% {
        /* transform: scale(0); */
				transform: translate(0, 50);
				opacity: 0;
    }

    99% { /* wajib */
        /* transform: scale(0); */
				transform: translate(0, 0);
				opacity: 0.5;
    }

    100% {
        /* transform: scale(1); */
				transform: translate(0, 0);
				opacity: 1;
    }
}

ActivityIndicator {
  height: 30;
  margin-top: 10;
}

.fab-button {
  height: 50;
  /* width: 70; /// this is required on iOS - Android does not require width so you might need to adjust styles */
  width: 50;
  margin: 15 15 10 15;
  background-color: #ff4081;
  horizontal-align: right;
  vertical-align: bottom;
}

.input {
  // color:rgba(0,0,0,1);
}
